@font-face{
    font-family: BebasNeueBold, /*sans-serif*/;
    src: url(../fonts/BebasNeueBold.woff) format('woff'),
         url(../fonts/BebasNeueBold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: OpenSans-Bold, /*sans-serif*/;
    src: url(../fonts/OpenSans-Bold.woff) format('woff'),
         url(../fonts/OpenSans-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: OpenSans-Regular, /*sans-serif*/;
    src: url(../fonts/OpenSans-Regular.woff) format('woff'),
         url(../fonts/OpenSans-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}