.about-container{
    text-align: center;
}
.about{
    color: yellowgreen;
    background-size: cover;
    background-position: center;
    background-image:
    radial-gradient(136.03% 48.57% at 98% 55.04%, rgba(255,255,255,0) -18%, rgba(0,0,0,0) 28.63%, #080A0B 99.74%),
        url(../images/bg-1x.jpg);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: 
        radial-gradient(136.03% 48.57% at 98% 55.04%, rgba(255,255,255,0) -18%, rgba(0,0,0,0) 28.63%, #080A0B 99.74%),
          url(../images/bg-2x.jpg);
      }
    height: 100vh;
    background-color: greenyellow;
    padding: 45px 0;
    &__title{
        margin-left: auto;
        margin-right: auto;
        font-family: var(--accent-font);
        max-width: 270px;
        margin-bottom: 200px;
    }
    &__text{
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
    &__link{
        display: inline-block;
        padding: 10px;
        border: 1px solid tomato;
        border-radius: 50px;

        animation: about 1500ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &__link--top{
        display: inline-block;
        margin-bottom: 60px;
        color: goldenrod;
        border: 1px dashed rgba(255, 217, 0, 0.63);
        border-radius: 15px;
        padding: 5px 15px;
    }
}
.icon{
    fill: yellowgreen;
}

@keyframes about {
    0%{
        border: 1px solid goldenrod;
        box-shadow: inset 0 0 15px rgba(223, 238, 19, 0.267);
    }
    100%{
        border: 1px solid tomato;
        box-shadow: inset 0 0 0px rgba(223, 238, 19, 0.267);
    }
}