.about-page{
    background-color:  rgba(124, 93, 62, 1);
    padding: 50px 0;
    height: 100vh;
    &__title{
        margin-bottom: 50px;
    }
    &__text{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 300px;
    }
}