.platform-section{
    height: 100vh;
    padding: 90px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
    radial-gradient(145.03% 31.57% at 15% 42.04%, rgba(255,255,255,0) -18%, rgba(0,0,0,0) 28.63%, #080A0B 99.74%),
        url(../images/game-bg1x.jpg);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: 
        radial-gradient(145.03% 31.57% at 15% 42.04%, rgba(255,255,255,0) -18%, rgba(0,0,0,0) 28.63%, #080A0B 99.74%),
          url(../images/game-bg2x.jpg);
      }
}
.platform{
    border: 1px solid green;
    padding: 10px;
    &--wrapper{
        background-color: yellowgreen;
        overflow: hidden;
        border: 1px solid black;
        width: 100%;
        height: 130px;
        display: flex;
        opacity: 0.8;
    }
    // &__rotate{
    //     border: 1px solid red;
    //     flex-basis: calc(100% / 3);
    //     height: 100%;
    // }
    // &__rotate-item{
    //     background-color: yellow;
    //     border: 1px solid black;
    //     width: 100%;
    //     height: calc(100% / 3);
    // }
}
.sirce{
    text-align: center;
    display: inline-block;
    width: calc(100% / 3);

    transform: translateY(-25px);
}
.one:hover{
    transform: translateY(45px);
}
#monkey{
        margin: 0 auto;
    border: 1px solid red;
    margin-bottom: 15px;
}
#bone{
        margin: 0 auto;
    border: 1px solid red;
    margin-bottom: 15px;

}
#box{
        margin: 0 auto;
    border: 1px solid red;
    margin-bottom: 15px;
}
.sircle .item{
    transform: translateY(0);
}
.one .item{
    transform: translateY(10);
}
// .sirce:hover .item{

// }
// .one{

// }