.header{
    position: absolute;
    width: 100%;
}
  
  .mobile-menu-btn{
        position: relative;
        z-index: 105;
        margin-left: auto;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
    }
    .mobile-menu-icon{
        width: 40px;
        height: 40px;
    }
    .icon-close{
        display: none;
    }
    .is-open {
        .icon-close {
        display: block;
        }
    
        .icon-menu {
        display: none;
        }
    }
    .mobile-menu{
        position: fixed;
        top: 0;
        right: -150%;
        width: 100%;
        z-index: 100;
        height: 100vh;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #c1cf00;
        background: rgba(29, 34, 21, 0.9);
        transition: right 0.5s;
        &.is-open {
            right: 0;
        }
        &__list{
            font-weight: 500;
            font-size: 26px;
            line-height: 1.17;
            letter-spacing: 0.02em;
        }
        &__item{
            &:not(:last-child){
                margin-bottom: 32px;
            }
        }
        &__link{
            display: block;
            padding: 20px 0;
        }
    }
.header__container{
    display: flex;
    align-items: center;
}
.icon-menu,
.icon-close{
    fill: greenyellow;
}