.hero-container{
    text-align: center;
}
.hero{
    background-size: cover;
    background-position: center;
    background-image:
    radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),
        url(../images/hero-bg1x.jpg);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image:
        radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),
          url(../images/hero-bg2x.jpg);
      }
    height: 100vh;
    padding: 130px 0;
    background-color: aqua;
    text-align: center;
    &__title{
        font-family: var(--accent-font);
        margin-bottom: 0;
        max-width: 270px;
    }
    &__picture{
        text-align: center;
        &--position{
            margin: 0 auto;
        }
    }
    &__text{
        max-width: 300px;
    }
    &__link{
        display: inline-block;
        border: 1px dashed goldenrod;
        border-radius: 50px;
        padding: 15px 15px;
    }
}