.hero-container{
    text-align: center;
}
.hero{
    color: greenyellow;
    background-size: cover;
    background-position: center;
    background-image:
    radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),
        url(../images/hero-bg1x.jpg);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image:
        radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),
          url(../images/hero-bg2x.jpg);
      }
    height: 100vh;
    padding-top: 76px;
    padding-bottom: 30px;
    background-color: aqua;
    text-align: center;
    &__title{
        margin-left: auto;
        margin-right: auto;
        font-family: var(--accent-font);
        margin-bottom: 0;
        max-width: 270px;
    }
    &__picture{
        text-align: center;
        &--position{
            margin: 0 auto;
        }
    }
    &__text{
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        margin-bottom: 30px;
        max-width: 300px;
    }
    &__link{
        display: inline-block;
        border: 1px dashed goldenrod;
        border-radius: 50px;
        padding: 15px 15px;

        animation: hero-btn 1500ms ease-in-out;
        animation-iteration-count: infinite;
        margin-bottom: 30px;
    }
    &__link--bottom{
        color: goldenrod;
        border: 1px dashed rgba(255, 217, 0, 0.63);
        border-radius: 15px;
        padding: 5px 15px;
    }
}

@keyframes hero-btn{
    0%{
        border: 2px dashed gold;
        box-shadow: inset 0 0 15px rgba(216, 142, 6, 0.803);
    }
    100%{
        border: 2px dashed greenyellow;
        box-shadow: inset 0 0 15px rgba(52, 44, 29, 0.80319);
    }
}